header .contact-informations
{
    color:#09143A;
    font-size: 20px;
}
body
{
    background-color: red;
}
nav
{
    background-color:#09143A; 
}
.container-fluid a,#nav-links ul li a
{
    color: rgb(100,236,9);
}
 .carousel-inner::before
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color:#a0c9f4a7;
} 
.carousel-item
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: start;
    height: 100vh;
    min-height: 300px;
}

.image-section
{
    position: absolute;
    right: 300px;
    top: 0px;
    z-index: 2;
}
.carousel-caption
{
    z-index: 2;
    width: 30vw;
    margin-bottom: 13.5rem;
    border-radius: 10px;
}

.carousel-caption h1 
{
    color: #333333;
    font-family: "Roboto", sans-serif;
}
.carousel-caption p
{
    font-size: 20px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    color: #333333;
}
.carousel-caption p a
{
   background-color: rgb(100,236,7);
   color: #09143A;
   border-color: rgb(100,236,7);
}
/* About services */


/* about member  */
.member-img
{
    width: 10rem;
    height: 10rem;
    background-color: red;
}
.member-img:hover
{
    cursor: pointer;
}
.member-img img 
{
    width: 100%;
    height: 100%;
}
.member-description
{
    font-size: 20px;
    text-align: left;
    display: none;
}
.member-description:hover
{
    cursor: pointer;
}
.member-description i 
{
    letter-spacing: 5px;
    text-align: center;
    font-size: 25px;
    color: rgb(100,236,7);
}
.member-description a:hover i 
{
    color: #09143A;
}
div.member-info .member-img
{
    display: none;
    
}
div.member-info .member-description
{
    display: block;
    transition: 3s all ease;
}
/* About footer */
footer
{
    background-color: #09143A;
    color:white;
}
footer .join a i
{
    font-size: 30px;
    margin-left: 1rem;
    color: rgb(100,236,9);
}

@media screen and (max-width:576px){
    .carousel-caption
{

    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: -3.5rem;
    padding-left: 7.5px;
    border-radius: none;
}
.member-img img 
{
    display: none;
}
}
